body {
    background-color: #c6e3ab;
}
.navbar {
    background-color: #6fb035;
    padding: 5px, 5px, 10px, 5px;
    margin: 0px;
    border-style: none;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
.logo {
    padding: 6px;
}
.nav li {
    padding: 20px;
    font-size: 1.5em;
}
#myNavbar {
    background-color: #6fb035;
    border-style: none;
}
#myNavbar li a {
    color: white;
}
#myNavbar li a:hover {
    color: #9f5d9f;
    background-color: #6fb035;
    text-decoration: underline;
}
.dropdown-menu {
    background-color: #6fb035;
}
.open > li{
    background-color: #6fb035;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #6fb035;
}
.dropdown-toggle > a{
    background-color: #6fb035;
}
.navbar-default, .navbar-nav {
    background-color: #6fb035;
}
.dropdown-menu > li{
    background-color: #6fb035;
}

.navbar-form {
    padding: 20px;
}
.container {
    background-color: white;
    padding: 2.5%;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
#login_form {
    border-right: solid 2px #8ac158;
    padding: 3%;
    padding-right: 12%;
    vertical-align: text-top;
    margin: 8%;
    display: inline-block;
    float: left;
}
#signup_form {
    vertical-align: text-top;
    margin: 6%;
    display: inline-block;
    float: left;
}
.hide {
    display: none;
}
.section_title {
    margin: 8%;
}
.not_found {
    text-align: center;
    padding: 3em;
    border: dashed 1px black;
}